apiVersion: v1
kind: Secret
metadata:
  name: argocd-repo-gitops-artifact
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: "${gitops_repo_url}"
  sshPrivateKey: |
    ${gitops_ssh_private_key_indent_4}
